<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/M-Dutra"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/facebook/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=pt"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/manuel-dutra/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Work in progress <i class="fa-solid fa-person-digging"></i> Manuel Dutra
  </div>
</div>
