<%# <div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">My Library</h1>
    <p class="lead">This is a simple library unit, where you can add your favourite books!</p>
    <hr class="my-4">
    <p>You can give the title, author, year and its possible to add the cover book.</p>
    <%= link_to "Sign up!", new_user_registration_path, class:"btn btn-flat" %>
  </div>
</div>

<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpeg')%>);">
