

<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.jpeg')%>);">
<section id="main" class="hero d-flex align-items-center justify-content-center">
  <div class="container">
    <h1 class="mt-5 text-white display-3"> My Library</h1>
    <p class="text-white display-6"> Manage your personal book collection</p>
    <%= link_to "Sign up!", new_user_registration_path, class:"btn btn-flat" %>
  </div>
<section>
</div>
